@model fastfood.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 style="font-weight: 700; text-align:center ">CHI TIẾT ĐƠN HÀNG</h1>

<div>
    
    <table class="table table-bordered">
        <tr>
            <th>Mã đơn hàng</th>
            <td>@Html.DisplayFor(model=>model.OrderId)</td>
        </tr>
        <tr>
            <th>Tên khách hàng</th>
            <td>@Html.DisplayFor(model=>model.Cus.CusName)</td>
        </tr>
        <tr>
            <th>Ngày đặt hàng</th>
            <td>
                @{
                    if (Model.OrderDate.HasValue)
                    {
                        <text>@Model.OrderDate.Value.ToShortDateString()</text>
                    }
                    else
                    {
                        <text>N/A</text>
                    }
                }
            </td>
        </tr>
        <tr>
            <th>Lưu ý</th>
            <td>@Html.DisplayFor(model => model.Note)</td>
        </tr>
        <tr>
            <th>Địa chỉ giao hàng</th>
            <td> @Html.DisplayFor(model => model.Address)</td>
        </tr>
        <tr>
            <th>Trạng thái đơn hàng</th>
            <td> @Html.DisplayFor(model => model.Status)</td>
        </tr>
        <tr>
            <th>Tổng tiền</th>
            <td> @Html.DisplayFor(model => model.TotalMoney)VND</td>
        </tr>
        <tr>
            @{
                Html.RenderPartial("OrderDetails", Model.OrderDetails);
            }
        </tr>
        
        
        


    </table>
    
</div>

