@model IEnumerable<fastfood.Models.OrderDetail>
<div class="card">
    
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <h4 style="font-weight: 700; text-align:center ">SẢN PHẨM</h4>
                <thead>
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Đơn giá</th>
                        <th>Giảm giá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @if(Model !=null )
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ProId</td>
                                <td>@item.ProName</td>
                                <td>@item.Price</td>
                                <td>@item.Discount</td>
                                <td>@item.Quantity</td>
                                <td>@item.TotalMoney</td>

                            </tr>
                        }
                    }
                   
                </tbody>
            </table>
            <div>
                <a class="btn btn-secondary" asp-action="Index">Quay lại</a>
            </div>

        </div>
    </div>
</div>


