@using X.PagedList
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    IPagedList<Product> dsfull = (IPagedList<Product>)ViewBag.PagedList;
    IPagedList<Product> ds1 = (IPagedList<Product>)ViewBag.PagedList1;
    IPagedList<Product> ds2 = (IPagedList<Product>)ViewBag.PagedList2;
}


<html lang="zxx">

<head>
    <script src="~/User/js/jquery-3.3.1.min.js"></script>
    <script src="~/User/js/bootstrap.min.js"></script>
    <script src="~/User/js/jquery.nice-select.min.js"></script>
    <script src="~/User/js/jquery-ui.min.js"></script>
    <script src="~/User/js/jquery.slicknav.js"></script>
    <script src="~/User/js/mixitup.min.js"></script>
    <script src="~/User/js/owl.carousel.min.js"></script>
    <script src="~/User/js/main.js"></script>

</head>
<body>

   
    
    
        
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            

            
            <div class="row">

                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <form asp-action="Index" asp-controller="Category" method="get">
                            <div class="sidebar__item">
                                <div class="hero__categories">
                                
                                    <div class="input-group" style="display:flex;margin-bottom: 10px;">
                                        <input id="TimKiem" type="text" name="searchTen" placeholder="Nhập từ bạn cần tìm?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                                        <div class="input-group-append">
                                            <button id="button-addon1" class="btn btn-link text-primary" type="submit" style="background: #FE980F;color: white;"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                    <div class="hero__categories__all">
                                        <i class="fa fa-bars"></i>
                                        <span>Danh mục</span>
                                    </div>
                                    <ul>
                                        @await Component.InvokeAsync("Category")
                                        
                                   
                                    </ul>
                                </div>
                            
                            </div>
                         <</form>
                        <div class="sidebar__item">
                            <h4>Giá</h4>
                            <div class="price-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                     data-min="10" data-max="100">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                </div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <h2 style="text-align: center; font-weight: bold; margin-top:25px; margin-bottom:25px">Giảm giá</h2>
                    <div class="row">
                        @foreach (var item in ds1.Where(item => item.Active.HasValue && item.Active.Value))
                        {
                            string url = $"/{item.Title}-{item.ProId}.html";

                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                         data-setbg="@Url.Content("~/images/products/" + item.Thumb)">
                                        <div class="product__discount__percent">@item.Discount %</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#" class="add-to-cart" data-product-id="@item.ProId"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <h5><a href="@Url">@item.ProName</a></h5>
                                        <div class="product__item__price">
                                            @(item.Price - (item.Price * (item.Discount) / 100)) <span>@item.Price</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <p>Danh sách từ @ViewBag.PageStartItem1 đến @ViewBag.PageEndItem1 trên tổng số @ViewBag.TotalItemCount1 sản phẩm đang giảm giá</p>
                        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                            <ul class="pagination">
                                @if (ds1.HasPreviousPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", "Products", new { page1 = ds1.PageNumber - 1, pageId = 1 })"><i class="fa fa-angle-left"></i></a>
                                    </li>

                                }

                                <li class="page-item @(1 == ViewBag.Page1 ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("Index", "Products", new { page1 = 1, pageId = 1 })">1</a>
                                </li>

                                @if (ds1.PageNumber > 3)
                                {
                                    <li class="page-item">
                                        <span class="page-link">...</span>
                                    </li>
                                }

                                @for (int i = ds1.PageNumber - 1; i <= ds1.PageNumber + 1; i++)
                                {
                                    if (i > 1 && i < ds1.PageCount)
                                    {
                                        <li class="page-item @(i == ds1.PageNumber ? "active" : "")">
                                            <a class="page-link" href="@Url.Action("Index", "Products", new { page1 = i, pageId = 1 })">@i</a>
                                        </li>
                                    }
                                }

                                @if (ds1.PageNumber < ds1.PageCount - 2)
                                {
                                    <li class="page-item">
                                        <span class="page-link">...</span>
                                    </li>
                                }

                                @if (ds1.PageCount > 1)
                                {
                                    <li class="page-item @(ds1.PageCount == ViewBag.Page1 ? "active" : "") ">
                                        <a class="page-link" href="@Url.Action("Index", "Products", new { page1 = ds1.PageCount, pageId = 1 })">@ds1.PageCount</a>
                                    </li>
                                }

                                @if (ds1.HasNextPage)
                                {

                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", "Products", new { page1 = ds1.PageNumber + 1, pageId = 1 })"><i class="fa fa-angle-right"></i></a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                   
                    <h2 style="text-align: center; font-weight: bold; margin-top:25px; margin-bottom:25px">Sản phẩm</h2>
                    <div class="row">
                        
                        
                           @foreach (var item in ds2.Where(item => item.Active.HasValue && item.Active.Value ))
                            {
                                string url = $"/{item.Title}-{item.ProId}.html";
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" data-setbg="@Url.Content("~/images/products/" + item.Thumb)">
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="@Url.Action("Details", "Products", new { id = item.ProId })"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="#" class="add-to-cart" data-product-id="@item.ProId"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__item__text">
                                            <h6><a href="@url">@item.ProName</a></h6>
                                            <h5>@item.Price VND</h5>
                                        </div>
                                    </div>
                                </div>
                            }
                        
                        
                       
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <p>Danh sách từ @ViewBag.PageStartItem2 đến @ViewBag.PageEndItem2 trên tổng số @ViewBag.TotalItemCount2 sản phẩm.</p>
                        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                            <ul class="pagination">
                                @if (ds2.HasPreviousPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", "Products", new { page2 = ds2.PageNumber - 1, pageId = 2 })"><i class="fa fa-angle-left"></i></a>
                                    </li>

                                }

                                <li class="page-item @(1 == ViewBag.Page2 ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("Index", "Products", new { page2 = 1, pageId = 2 })">1</a>
                                </li>

                                @if (ds2.PageNumber > 3)
                                {
                                    <li class="page-item">
                                        <span class="page-link">...</span>
                                    </li>
                                }

                                @for (int i = ds2.PageNumber - 1; i <= ds2.PageNumber + 1; i++)
                                {
                                    if (i > 1 && i < ds2.PageCount)
                                    {
                                        <li class="page-item @(i == ds2.PageNumber ? "active" : "")">
                                            <a class="page-link" href="@Url.Action("Index", "Products", new { page2 = i, pageId = 2 })">@i</a>
                                        </li>
                                    }
                                }

                                @if (ds2.PageNumber < ds2.PageCount - 2)
                                {
                                    <li class="page-item">
                                        <span class="page-link">...</span>
                                    </li>
                                }

                                @if (ds2.PageCount > 1)
                                {
                                    <li class="page-item @(ds2.PageCount == ViewBag.Page2 ? "active" : "") ">
                                        <a class="page-link" href="@Url.Action("Index", "Products", new { page2 = ds2.PageCount, pageId = 2 })">@ds2.PageCount</a>
                                    </li>
                                }

                                @if (ds2.HasNextPage)
                                {

                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index","Products", new { page2 = ds2.PageNumber + 1, pageId = 2 })"><i class="fa fa-angle-right"></i></a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
    
    
    <!-- Js Plugins -->
    @section Scripts {
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                $('a.add-to-cart').click(function (e) {
                    e.preventDefault();

                    var productId = $(this).data('product-id');

                    $.ajax({
                        type: 'POST',
                        url: '/Cart/Add',
                        data: { ProId: productId }, // Gửi ProId lên server
                        success: function (data) {
                            if (data.success) {
                                alert('Sản phẩm đã được thêm vào giỏ hàng!');43
                            } else {
                                alert('Không thể thêm sản phẩm vào giỏ hàng.');
                            }
                        },
                        error: function (error) {
                            alert('Có lỗi xảy ra: ' + error.responseText);
                        }
                    });
                });
            });
        </script>
        <script>
            // Lắng nghe sự kiện khi người dùng nhấn Enter trong ô input tìm kiếm
            $('#TimKiem').on('keyup', function (event) {
                if (event.key === 'Enter') {
                    updateSearchCriteria();
                }
            });
            // Event handler for checkbox and input changes
            $('.form-check-input').change(function () {
                updateSearchCriteria();
            });
            function updateSearchCriteria() {
                // Khởi tạo một đối tượng lưu trữ các tùy chọn tìm kiếm
                var searchCriteria = {};
                // Lặp qua tất cả các checkbox
                $('.form-check-input').each(function () {
                    var checkbox = $(this);
                    var checkboxName = checkbox.attr('name');
                    var checkboxValue = checkbox.is(':checked');
                    searchCriteria[checkboxName] = checkboxValue;
                });
                // Lấy giá trị từ ô input và thêm vào đối tượng tìm kiếm
                var searchTen = $('#TimKiem').val();
                searchCriteria['searchTen'] = searchTen;
                // Lấy giá trị từ slider giá và thêm vào đối tượng tìm kiếm
                console.log(searchCriteria);
                // Xây dựng URL tìm kiếm với các tham số truyền vào
                var searchUrl = '/Category?' + $.param(searchCriteria);
                console.log(searchUrl);
                // Chuyển hướng đến trang tìm kiếm với các tùy chọn đã chọn
                window.location.href = searchUrl;
            }
                        });
        </script>
    }
</body>
 
</html>
